<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609729009628-jtccsh31q7ttu5ia46p4li32ojbk9nql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609729009628-jtccsh31q7ttu5ia46p4li32ojbk9nql</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtOzEG0J2TgddkYOz66mpyuyzwRzSxAI</string>
	<key>GCM_SENDER_ID</key>
	<string>609729009628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Taha.instagram-Viper</string>
	<key>PROJECT_ID</key>
	<string>instagram-6866a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-6866a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609729009628:ios:6c64b93101d75561e72119</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-6866a.firebaseio.com</string>
</dict>
</plist>